@import url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');

// Font Family
$theme-font: "Inter", sans-serif;

// Primary Color
$theme-primary-color:hsl(75, 94%, 57%);

// Neutral colors
$theme-white-color: hsl(0, 0%, 100%);
$theme-grey-color: hsl(0, 0%, 20%);
$theme-dark-grey-color: hsl(0, 0%, 12%);
$theme-off-black-color: hsl(0, 0%, 8%);