@import "variables";
@import "reset";

body
{
    font-family: $theme-font;
    background-color: $theme-off-black-color;
    font-size: 14px;
}

main
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card
{
    background-color: $theme-dark-grey-color;
    color: $theme-white-color;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    transition: ease 0.5s;
    &:hover
    {
        scale: 1.03;
    }
    &__image
    {
        width: 85px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1.5em;
    }
    &__author
    {
        &-name
        {
            font-size: 1.5em;
            margin-bottom: 0.25em;
        }
        &-address
        {
            color: $theme-primary-color;
            margin-bottom: 1.5em;
            font-size: 0.875em;
            font-weight: 600;
        }
        &-title
        {
            font-size: 0.875em;
            margin-bottom: 1.5em;
        }
    }
    &__socials
    {
        li
        {
            background-color: $theme-grey-color;
            list-style: none;
            border-radius: 0.5em;
            margin-bottom: 1em;
            > a 
            {
                font-weight: bold;
                display: block;
                padding: 1em 5.5em;
                cursor: url(assets/images/handcursor.svg), auto;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:hover
            {
                color: $theme-grey-color;
                background-color: $theme-primary-color;
            }
        }
    }
}