[user]
	email = sharms.my@gmail.com
	name = sharms-my
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = notepad.exe
[fetch]
	prune = true
